@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.elias {
  color: blue;
}

.elias p {
  text-orientation: sideways-right;
}

.signV {

  transform: rotate(90deg);
}

.cell {
  position: relative;
  height: 10rem;
}

.cell .top {
  position: absolute;
  top: 0rem;
  width: 100%;
  text-align: center;
}

.cell .bottom {
  position: absolute;
  top: 8rem;
  width: 100%;
  text-align: center;
}

.cell .left {
  position: absolute;
  top: 2rem;
  height: 6rem;
}

.cell .right {
  position: absolute;
  top: 2rem;
  right: 0rem;
  height: 6rem;
}

.text{
  height: 100%;
  border: 5px solid green;
}

.text input{
  margin-top: 20%;
  border: 2px solid red;
  top: 40%;
}
